*.hex
*.bin
*.pgz
*.pgx
*.bas
*.bak
/hello/.vs/
/hello/Debug/
/div/.vs/
/div/Debug/
/exec/pgx/.vs/
/exec/pgx/Debug/
/exec/pgx/Release/
/exec/pgz/.vs/
/exec/pgz/Debug/
/exec/pgz/Release/
/ball/.vs/
/ball/Debug/
/ball/Release/
/img/vickyii/.vs/
/img/vickyii/Debug/
/img/vickyii/Release/
/img/tinyvicky/.vs/
/img/tinyvicky/Debug/
/img/tinyvicky/Release/
/img/tinyvicky/reference/
/BitmapEmbedder/.vs/
/BitmapEmbedder/Debug/
/BitmapEmbedder/Release/
/BitmapEmbedder/x64/
/F256_Uploader_Release_0.0.1/
/spaceoddity/.vs/
/spaceoddity/Debug/
/spaceoddity/Release/
/spaceoddity/reference/
/rainbowtext/.vs/
/rainbowtext/Debug/
/rainbowtext/Release/
/rainbowtext/reference/
/keytest/reference/
/keytest/Debug/
/keytest/Release/
/keytest/.vs/
/allkeys/.vs/
/allkeys/Debug/
/allkeys/Release/
/invalidopcodes/.vs/
/invalidopcodes/Debug/
/invalidopcodes/Release/
/framerate/.vs/
/framerate/Debug/
/framerate/Release/
/sd/*
/tone/Debug/
/tone/Release/
/tone/.vs/
/kerneltimer/.vs/
/kerneltimer/Debug/
/kerneltimer/Release/
/typing/.vs/
/typing/Debug/
/typing/Release/
/sd_archive/*
/soundtest/.vs/*
/soundtest/Debug/
/soundtest/Release/
