/.vs/*
/hello/.vs/*
/hello/Debug/*
*.lbl
/div/.vs/*
/div/Debug/*
/sd
/exec/pgx/.vs*
/exec/pgx/Debug
/exec/pgx/Release
/exec/pgz/.vs*
/exec/pgz/Debug
/exec/pgz/Release
/ball/.vs/*
/ball/Debug
/ball/Release
/wormhole/.vs
/wormhole/Debug
/wormhole/Release
/wormhole/BitmapEmbedder/.vs/*
/wormhole/BitmapEmbedder/Debug/*
/wormhole/BitmapEmbedder/Release/*
/wormhole/BitmapEmbedder/x64/
/wormhole/Demo
