/.vs/*
/hello/.vs/*
/hello/Debug/*
*.lbl
/div/.vs/*
/div/Debug/*
/sd
/exec/.vs*
/exec/Debug
/exec/Release
/ball/.vs/*
/ball/Debug
/ball/Release
/img/.vs
/img/Debug
/img/Release
/img/ImageTranscoder/.vs/*
/img/ImageTranscoder/Debug/*
/img/ImageTranscoder/Release/*
/img/ImageTranscoder/x64/
